* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Style */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background: url('https://www.transparenttextures.com/patterns/cubes.png');
  background-attachment: fixed;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  font-weight: bold;
  color: #444;
}

article > h2 {
  text-align: center;
  color: #007bff;
}

span {
  color: #007bff;
}

a {
  text-decoration: none;
  color: #007bff;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  font-size: 16px;
  color: #333;
  padding: 0.2rem 0.5rem;
}

.text_shdw {
  text-shadow: 3px 1px 6px rgb(13 28 56 / 17%);
}

.name {
  font-size: 1.8rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.stack_article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack_article > ul {
  width: 80%;
  text-align: center;
  margin: 20px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.project_box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  position: relative;
  background-color: #f0f8ff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project_box:hover {
  transform: translateY(-5px); /* Slightly lifts the box */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}

.project_box h3 {
  margin-bottom: 10px;
  color: #007bff; /* Blue color for heading */
}

.project_box > a {
  position: absolute;
  right: 20px;
  font-size: 1.5rem;
}

.github-link {
  color: white;
  background: #333;
  padding: 10px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: all 0.2s ease;
}

.github-link:hover {
  background: #666;
  transform: translateY(-2px);
}

.tooltip {
  position: relative;
}

.tooltip::before {
  content: 'GitHub';
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background: #333;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  margin-bottom: 5px;
}

.tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}

.project_box ul {
  margin-top: auto;
  margin-bottom: 0;
}

.stack_list {
  background: linear-gradient(135deg, #007bffd6, #00d4ff);
  color: white;
  padding: 7px 11px;
  margin: 5px;
  border-radius: 20px;
  font-size: 14px;
  list-style-type: none;
  box-shadow: 0 4px 6px rgb(0 0 0 / 12%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cv_btn {
  width: 100%;
  text-align: center;
}

.cv_btn > button {
  width: 40%;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 10px;
}
.cv_btn > button > svg {
  font-size: 2.5rem;
}

.btn_tooltip {
  position: relative;
}

.btn_tooltip::before {
  content: 'download the CV';
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 10px;
  background: #333;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  margin-bottom: 5px;
}

.btn_tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}

.contact_ul{
  text-align: center;
}
.contact_li{

    background-color: #f0f8ff;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 70px;
    width: 70px;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact_li:hover{
    transform: translateY(-5px); /* Slightly lifts the box */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}

.contact_li> a{
      display: flex;
      justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
}

.separator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 30px 0px;
}

.separator > .line {
  width: 80%;
  border-bottom: 2px solid #0056b357;
}

@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
}
